body {
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .main-container .box {
    background-color: #FFFFFF;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px; }
  .main-container .header {
    height: 200px;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .main-container .header .logo {
      margin: auto;
      padding: 0px; }
  .main-container .battle-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .main-container .battle-list .battle-close, .main-container .battle-list .battle-open {
      margin: 5px;
      background-color: #EEFFFF;
      -webkit-box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.61);
              box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.61);
      -webkit-border-radius: 10px;
              border-radius: 10px;
      border: 1px solid #AAAAAA;
      font-size: 18px;
      width: 100%;
      padding: 10px; }
      .main-container .battle-list .battle-close .battle-content, .main-container .battle-list .battle-open .battle-content {
        display: none; }
      .main-container .battle-list .battle-close .battle-hat-parrant, .main-container .battle-list .battle-open .battle-hat-parrant {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row-revers;
            -ms-flex-direction: row-revers;
                flex-direction: row-revers;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .main-container .battle-list .battle-close .battle-hat-parrant .battle-hat, .main-container .battle-list .battle-open .battle-hat-parrant .battle-hat {
          padding: 10px; }
      .main-container .battle-list .battle-close .battle-name, .main-container .battle-list .battle-open .battle-name {
        font-size: 24px; }
      .main-container .battle-list .battle-close .battle-status, .main-container .battle-list .battle-open .battle-status {
        -webkit-border-radius: 10px;
                border-radius: 10px;
        width: 100px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .main-container .battle-list .battle-close .battle-status span, .main-container .battle-list .battle-open .battle-status span {
          margin: auto; }
      .main-container .battle-list .battle-close .battle-soon, .main-container .battle-list .battle-open .battle-soon {
        background-color: #f2aeae; }
      .main-container .battle-list .battle-close .battle-process, .main-container .battle-list .battle-open .battle-process {
        background-color: #fdff00; }
      .main-container .battle-list .battle-close .battle-finished, .main-container .battle-list .battle-open .battle-finished {
        background-color: #63ff00; }
    .main-container .battle-list .battle-open {
      background-color: #CCFFFF;
      -webkit-box-shadow: -3px 3px 3px -2px rgba(0, 0, 0, 0.61);
              box-shadow: -3px 3px 3px -2px rgba(0, 0, 0, 0.61); }
      .main-container .battle-list .battle-open .battle-content {
        display: block; }

.nav-menu {
  display: none;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2; }
  .nav-menu li {
    display: block; }
    .nav-menu li a {
      text-decoration: none;
      font-size: 22px;
      display: block;
      padding: 14px; }
    .nav-menu li:hover {
      background-color: #f0f0f0; }

.navi {
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  border-bottom: 1px solid #AAAAAA;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .navi .logo {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100px;
    margin-top: 10px;
    padding: 10px;
    font-size: 24px; }
  .navi .nav-menu {
    display: none; }

.toggle {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 40px;
  background-color: #FFFFFF;
  border: 2px solid #ffffff;
  margin-top: 10px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .toggle .hamb {
    background-color: #999999;
    height: 5px;
    width: 25px;
    margin: auto;
    -webkit-border-radius: 2px;
            border-radius: 2px; }

.action-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .action-box .action-caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .action-box .action-result {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.probleme {
  margin: 10px; }

.role-item {
  margin: 10px; }

.results-table {
  border: 12px solid white;
  -webkit-border-radius: 10px;
          border-radius: 10px; }
  .results-table td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse; }

.comand-list {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-around;
  -webkit-align-items: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 300px; }
  .comand-list .comand-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 200px;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px; }

.champs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.champ-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #aaffee;
  padding: 15px;
  margin: 10px; }
  .champ-box .champ-year {
    font-size: 2rem; }

@media screen and (min-width: 420px) {
  .navi .logo {
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size: 24px; }
  .comand-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 500px; } }

@media screen and (min-width: 491px) {
  .nav-menu {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .toggle {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .champs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
    .champs .champ-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 200px;
      height: 200px;
      padding: 10px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }

@media screen and (min-width: 768px) {
  .navi .toggle {
    display: none;
    margin: auto; }
  .navi .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .navi .logo {
    margin: auto; }
  .action-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .action-box .action-caption {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
              flex-shrink: 1;
      -webkit-flex-basis: 300px;
          -ms-flex-preferred-size: 300px;
              flex-basis: 300px; }
    .action-box .action-result {
      -webkit-box-flex: 2;
      -webkit-flex: 2 1 auto;
          -ms-flex: 2 1 auto;
              flex: 2 1 auto; } }

@media screen and (min-width: 992px) {
  .action-box {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
    .action-box > * {
      padding: 8px; }
  .comand-list {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    max-width: none; } }

@media screen and (min-width: 1024px) {
  .action-box {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .action-box .action-result {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
